#talks
  .block_title
    Talk proposals
  #nav
    =link_to "Popular", "/popular"
    \/
    =link_to "New", "/newest"
    \/
    =link_to "Submit", "/newest"
  
#activity
  .block_title
    Recent comments