html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: "" "";
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

a img {
  border: none;
}

/* incase an inverted custom gradient isn't specified */
.fancy-button-reset-base-class, .submit_button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1299732143') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
.fancy-button-reset-base-class::-moz-focus-inner, .submit_button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.fancy-button-reset-base-class:focus, .submit_button:focus {
  outline: none;
}

.wrapper {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  font-size: 105%;
  font-family: 'Droid Sans', arial, sans-serif;
}
.wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5, .wrapper h6 {
  font-weight: normal;
  color: #222222;
}
.wrapper h1 img, .wrapper h2 img, .wrapper h3 img, .wrapper h4 img, .wrapper h5 img, .wrapper h6 img {
  margin: 0;
}
.wrapper h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
.wrapper h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
.wrapper h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
.wrapper h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
.wrapper h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
.wrapper h6 {
  font-size: 1em;
  font-weight: bold;
}
.wrapper p {
  margin: 0 0 1.5em;
}
.wrapper p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
.wrapper p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
.wrapper a {
  text-decoration: underline;
  color: #000099;
}
.wrapper a:visited {
  color: #000066;
}
.wrapper a:focus {
  color: black;
}
.wrapper a:hover {
  color: black;
}
.wrapper a:active {
  color: #cc0099;
}
.wrapper blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
.wrapper strong {
  font-weight: bold;
}
.wrapper em {
  font-style: italic;
}
.wrapper dfn {
  font-style: italic;
  font-weight: bold;
}
.wrapper sup, .wrapper sub {
  line-height: 0;
}
.wrapper abbr, .wrapper acronym {
  border-bottom: 1px dotted #666666;
}
.wrapper address {
  margin: 0 0 1.5em;
  font-style: italic;
}
.wrapper del {
  color: #666666;
}
.wrapper pre {
  margin: 1.5em 0;
  white-space: pre;
}
.wrapper pre, .wrapper code, .wrapper tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
.wrapper li ul, .wrapper li ol {
  margin: 0;
}
.wrapper ul, .wrapper ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
.wrapper ul {
  list-style-type: disc;
}
.wrapper ol {
  list-style-type: decimal;
}
.wrapper dl {
  margin: 0 0 1.5em 0;
}
.wrapper dl dt {
  font-weight: bold;
}
.wrapper dd {
  margin-left: 1.5em;
}
.wrapper table {
  margin-bottom: 1.4em;
  width: 100%;
}
.wrapper th {
  font-weight: bold;
}
.wrapper thead th {
  background: #c3d9ff;
}
.wrapper th, .wrapper td, .wrapper caption {
  padding: 4px 10px 4px 5px;
}
.wrapper tr.even td {
  background: #e5ecf9;
}
.wrapper tfoot {
  font-style: italic;
}
.wrapper caption {
  background: #eeeeee;
}
.wrapper .quiet {
  color: #666666;
}
.wrapper .loud {
  color: #111111;
}
.wrapper .clear {
  clear: both;
}
.wrapper .nowrap {
  white-space: nowrap;
}
.wrapper .clearfix {
  overflow: hidden;
  *zoom: 1;
}
.wrapper .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
.wrapper .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
.wrapper .first {
  margin-left: 0;
  padding-left: 0;
}
.wrapper .last {
  margin-right: 0;
  padding-right: 0;
}
.wrapper .top {
  margin-top: 0;
  padding-top: 0;
}
.wrapper .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
.wrapper .container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
.wrapper .column, .wrapper div.span-1, .wrapper div.span-2, .wrapper div.span-3, .wrapper div.span-4, .wrapper div.span-5, .wrapper div.span-6, .wrapper div.span-7, .wrapper div.span-8, .wrapper div.span-9, .wrapper div.span-10, .wrapper div.span-11, .wrapper div.span-12, .wrapper div.span-13, .wrapper div.span-14, .wrapper div.span-15, .wrapper div.span-16, .wrapper div.span-17, .wrapper div.span-18, .wrapper div.span-19, .wrapper div.span-20, .wrapper div.span-21, .wrapper div.span-22, .wrapper div.span-23, .wrapper div.span-24 {
  display: inline;
  float: left;
  margin-right: 10px;
}
* html .wrapper .column, * html .wrapper div.span-1, * html .wrapper div.span-2, * html .wrapper div.span-3, * html .wrapper div.span-4, * html .wrapper div.span-5, * html .wrapper div.span-6, * html .wrapper div.span-7, * html .wrapper div.span-8, * html .wrapper div.span-9, * html .wrapper div.span-10, * html .wrapper div.span-11, * html .wrapper div.span-12, * html .wrapper div.span-13, * html .wrapper div.span-14, * html .wrapper div.span-15, * html .wrapper div.span-16, * html .wrapper div.span-17, * html .wrapper div.span-18, * html .wrapper div.span-19, * html .wrapper div.span-20, * html .wrapper div.span-21, * html .wrapper div.span-22, * html .wrapper div.span-23, * html .wrapper div.span-24 {
  overflow-x: hidden;
}
.wrapper .last, .wrapper div.last {
  margin-right: 0;
}
.wrapper .span-1 {
  width: 30px;
}
.wrapper .span-2 {
  width: 70px;
}
.wrapper .span-3 {
  width: 110px;
}
.wrapper .span-4 {
  width: 150px;
}
.wrapper .span-5 {
  width: 190px;
}
.wrapper .span-6 {
  width: 230px;
}
.wrapper .span-7 {
  width: 270px;
}
.wrapper .span-8 {
  width: 310px;
}
.wrapper .span-9 {
  width: 350px;
}
.wrapper .span-10 {
  width: 390px;
}
.wrapper .span-11 {
  width: 430px;
}
.wrapper .span-12 {
  width: 470px;
}
.wrapper .span-13 {
  width: 510px;
}
.wrapper .span-14 {
  width: 550px;
}
.wrapper .span-15 {
  width: 590px;
}
.wrapper .span-16 {
  width: 630px;
}
.wrapper .span-17 {
  width: 670px;
}
.wrapper .span-18 {
  width: 710px;
}
.wrapper .span-19 {
  width: 750px;
}
.wrapper .span-20 {
  width: 790px;
}
.wrapper .span-21 {
  width: 830px;
}
.wrapper .span-22 {
  width: 870px;
}
.wrapper .span-23 {
  width: 910px;
}
.wrapper .span-24, .wrapper div.span-24 {
  width: 950px;
  margin: 0;
}
.wrapper input.span-1, .wrapper textarea.span-1, .wrapper select.span-1 {
  width: 30px !important;
}
.wrapper input.span-2, .wrapper textarea.span-2, .wrapper select.span-2 {
  width: 70px !important;
}
.wrapper input.span-3, .wrapper textarea.span-3, .wrapper select.span-3 {
  width: 110px !important;
}
.wrapper input.span-4, .wrapper textarea.span-4, .wrapper select.span-4 {
  width: 150px !important;
}
.wrapper input.span-5, .wrapper textarea.span-5, .wrapper select.span-5 {
  width: 190px !important;
}
.wrapper input.span-6, .wrapper textarea.span-6, .wrapper select.span-6 {
  width: 230px !important;
}
.wrapper input.span-7, .wrapper textarea.span-7, .wrapper select.span-7 {
  width: 270px !important;
}
.wrapper input.span-8, .wrapper textarea.span-8, .wrapper select.span-8 {
  width: 310px !important;
}
.wrapper input.span-9, .wrapper textarea.span-9, .wrapper select.span-9 {
  width: 350px !important;
}
.wrapper input.span-10, .wrapper textarea.span-10, .wrapper select.span-10 {
  width: 390px !important;
}
.wrapper input.span-11, .wrapper textarea.span-11, .wrapper select.span-11 {
  width: 430px !important;
}
.wrapper input.span-12, .wrapper textarea.span-12, .wrapper select.span-12 {
  width: 470px !important;
}
.wrapper input.span-13, .wrapper textarea.span-13, .wrapper select.span-13 {
  width: 510px !important;
}
.wrapper input.span-14, .wrapper textarea.span-14, .wrapper select.span-14 {
  width: 550px !important;
}
.wrapper input.span-15, .wrapper textarea.span-15, .wrapper select.span-15 {
  width: 590px !important;
}
.wrapper input.span-16, .wrapper textarea.span-16, .wrapper select.span-16 {
  width: 630px !important;
}
.wrapper input.span-17, .wrapper textarea.span-17, .wrapper select.span-17 {
  width: 670px !important;
}
.wrapper input.span-18, .wrapper textarea.span-18, .wrapper select.span-18 {
  width: 710px !important;
}
.wrapper input.span-19, .wrapper textarea.span-19, .wrapper select.span-19 {
  width: 750px !important;
}
.wrapper input.span-20, .wrapper textarea.span-20, .wrapper select.span-20 {
  width: 790px !important;
}
.wrapper input.span-21, .wrapper textarea.span-21, .wrapper select.span-21 {
  width: 830px !important;
}
.wrapper input.span-22, .wrapper textarea.span-22, .wrapper select.span-22 {
  width: 870px !important;
}
.wrapper input.span-23, .wrapper textarea.span-23, .wrapper select.span-23 {
  width: 910px !important;
}
.wrapper input.span-24, .wrapper textarea.span-24, .wrapper select.span-24 {
  width: 950px !important;
}
.wrapper .append-1 {
  padding-right: 40px;
}
.wrapper .append-2 {
  padding-right: 80px;
}
.wrapper .append-3 {
  padding-right: 120px;
}
.wrapper .append-4 {
  padding-right: 160px;
}
.wrapper .append-5 {
  padding-right: 200px;
}
.wrapper .append-6 {
  padding-right: 240px;
}
.wrapper .append-7 {
  padding-right: 280px;
}
.wrapper .append-8 {
  padding-right: 320px;
}
.wrapper .append-9 {
  padding-right: 360px;
}
.wrapper .append-10 {
  padding-right: 400px;
}
.wrapper .append-11 {
  padding-right: 440px;
}
.wrapper .append-12 {
  padding-right: 480px;
}
.wrapper .append-13 {
  padding-right: 520px;
}
.wrapper .append-14 {
  padding-right: 560px;
}
.wrapper .append-15 {
  padding-right: 600px;
}
.wrapper .append-16 {
  padding-right: 640px;
}
.wrapper .append-17 {
  padding-right: 680px;
}
.wrapper .append-18 {
  padding-right: 720px;
}
.wrapper .append-19 {
  padding-right: 760px;
}
.wrapper .append-20 {
  padding-right: 800px;
}
.wrapper .append-21 {
  padding-right: 840px;
}
.wrapper .append-22 {
  padding-right: 880px;
}
.wrapper .append-23 {
  padding-right: 920px;
}
.wrapper .prepend-1 {
  padding-left: 40px;
}
.wrapper .prepend-2 {
  padding-left: 80px;
}
.wrapper .prepend-3 {
  padding-left: 120px;
}
.wrapper .prepend-4 {
  padding-left: 160px;
}
.wrapper .prepend-5 {
  padding-left: 200px;
}
.wrapper .prepend-6 {
  padding-left: 240px;
}
.wrapper .prepend-7 {
  padding-left: 280px;
}
.wrapper .prepend-8 {
  padding-left: 320px;
}
.wrapper .prepend-9 {
  padding-left: 360px;
}
.wrapper .prepend-10 {
  padding-left: 400px;
}
.wrapper .prepend-11 {
  padding-left: 440px;
}
.wrapper .prepend-12 {
  padding-left: 480px;
}
.wrapper .prepend-13 {
  padding-left: 520px;
}
.wrapper .prepend-14 {
  padding-left: 560px;
}
.wrapper .prepend-15 {
  padding-left: 600px;
}
.wrapper .prepend-16 {
  padding-left: 640px;
}
.wrapper .prepend-17 {
  padding-left: 680px;
}
.wrapper .prepend-18 {
  padding-left: 720px;
}
.wrapper .prepend-19 {
  padding-left: 760px;
}
.wrapper .prepend-20 {
  padding-left: 800px;
}
.wrapper .prepend-21 {
  padding-left: 840px;
}
.wrapper .prepend-22 {
  padding-left: 880px;
}
.wrapper .prepend-23 {
  padding-left: 920px;
}
.wrapper .pull-1, .wrapper .pull-2, .wrapper .pull-3, .wrapper .pull-4, .wrapper .pull-5, .wrapper .pull-6, .wrapper .pull-7, .wrapper .pull-8, .wrapper .pull-9, .wrapper .pull-10, .wrapper .pull-11, .wrapper .pull-12, .wrapper .pull-13, .wrapper .pull-14, .wrapper .pull-15, .wrapper .pull-16, .wrapper .pull-17, .wrapper .pull-18, .wrapper .pull-19, .wrapper .pull-20, .wrapper .pull-21, .wrapper .pull-22, .wrapper .pull-23, .wrapper .pull-24 {
  display: inline;
  float: left;
  position: relative;
}
.wrapper .pull-1 {
  margin-left: -40px;
}
.wrapper .pull-2 {
  margin-left: -80px;
}
.wrapper .pull-3 {
  margin-left: -120px;
}
.wrapper .pull-4 {
  margin-left: -160px;
}
.wrapper .pull-5 {
  margin-left: -200px;
}
.wrapper .pull-6 {
  margin-left: -240px;
}
.wrapper .pull-7 {
  margin-left: -280px;
}
.wrapper .pull-8 {
  margin-left: -320px;
}
.wrapper .pull-9 {
  margin-left: -360px;
}
.wrapper .pull-10 {
  margin-left: -400px;
}
.wrapper .pull-11 {
  margin-left: -440px;
}
.wrapper .pull-12 {
  margin-left: -480px;
}
.wrapper .pull-13 {
  margin-left: -520px;
}
.wrapper .pull-14 {
  margin-left: -560px;
}
.wrapper .pull-15 {
  margin-left: -600px;
}
.wrapper .pull-16 {
  margin-left: -640px;
}
.wrapper .pull-17 {
  margin-left: -680px;
}
.wrapper .pull-18 {
  margin-left: -720px;
}
.wrapper .pull-19 {
  margin-left: -760px;
}
.wrapper .pull-20 {
  margin-left: -800px;
}
.wrapper .pull-21 {
  margin-left: -840px;
}
.wrapper .pull-22 {
  margin-left: -880px;
}
.wrapper .pull-23 {
  margin-left: -920px;
}
.wrapper .pull-24 {
  margin-left: -960px;
}
.wrapper .push-1, .wrapper .push-2, .wrapper .push-3, .wrapper .push-4, .wrapper .push-5, .wrapper .push-6, .wrapper .push-7, .wrapper .push-8, .wrapper .push-9, .wrapper .push-10, .wrapper .push-11, .wrapper .push-12, .wrapper .push-13, .wrapper .push-14, .wrapper .push-15, .wrapper .push-16, .wrapper .push-17, .wrapper .push-18, .wrapper .push-19, .wrapper .push-20, .wrapper .push-21, .wrapper .push-22, .wrapper .push-23, .wrapper .push-24 {
  display: inline;
  float: right;
  position: relative;
}
.wrapper .push-1 {
  margin: 0 -40px 1.5em 40px;
}
.wrapper .push-2 {
  margin: 0 -80px 1.5em 80px;
}
.wrapper .push-3 {
  margin: 0 -120px 1.5em 120px;
}
.wrapper .push-4 {
  margin: 0 -160px 1.5em 160px;
}
.wrapper .push-5 {
  margin: 0 -200px 1.5em 200px;
}
.wrapper .push-6 {
  margin: 0 -240px 1.5em 240px;
}
.wrapper .push-7 {
  margin: 0 -280px 1.5em 280px;
}
.wrapper .push-8 {
  margin: 0 -320px 1.5em 320px;
}
.wrapper .push-9 {
  margin: 0 -360px 1.5em 360px;
}
.wrapper .push-10 {
  margin: 0 -400px 1.5em 400px;
}
.wrapper .push-11 {
  margin: 0 -440px 1.5em 440px;
}
.wrapper .push-12 {
  margin: 0 -480px 1.5em 480px;
}
.wrapper .push-13 {
  margin: 0 -520px 1.5em 520px;
}
.wrapper .push-14 {
  margin: 0 -560px 1.5em 560px;
}
.wrapper .push-15 {
  margin: 0 -600px 1.5em 600px;
}
.wrapper .push-16 {
  margin: 0 -640px 1.5em 640px;
}
.wrapper .push-17 {
  margin: 0 -680px 1.5em 680px;
}
.wrapper .push-18 {
  margin: 0 -720px 1.5em 720px;
}
.wrapper .push-19 {
  margin: 0 -760px 1.5em 760px;
}
.wrapper .push-20 {
  margin: 0 -800px 1.5em 800px;
}
.wrapper .push-21 {
  margin: 0 -840px 1.5em 840px;
}
.wrapper .push-22 {
  margin: 0 -880px 1.5em 880px;
}
.wrapper .push-23 {
  margin: 0 -920px 1.5em 920px;
}
.wrapper .push-24 {
  margin: 0 -960px 1.5em 960px;
}
.wrapper .prepend-top {
  margin-top: 1.5em;
}
.wrapper .append-bottom {
  margin-bottom: 1.5em;
}
.wrapper .showgrid {
  background: url('/images/grid.png?1299732111');
}
.wrapper .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
.wrapper .error a {
  color: #8a1f11;
}
.wrapper .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
.wrapper .notice a {
  color: #514721;
}
.wrapper .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
.wrapper .success a {
  color: #264409;
}
.wrapper .hide {
  display: none;
}
.wrapper .highlight {
  background: yellow;
}
.wrapper .added {
  background: #006600;
  color: white;
}
.wrapper .removed {
  background: #990000;
  color: white;
}
.wrapper label {
  font-weight: bold;
}
.wrapper fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
.wrapper legend {
  font-weight: bold;
  font-size: 1.2em;
}
.wrapper input.text, .wrapper input.title, .wrapper input[type=email], .wrapper input[type=text], .wrapper input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
.wrapper input.title {
  font-size: 1.5em;
}
.wrapper input[type=checkbox], .wrapper input.checkbox, .wrapper input[type=radio], .wrapper input.radio {
  position: relative;
  top: 0.25em;
}
.wrapper textarea {
  margin: 0.5em 0;
  padding: 5px;
}
.wrapper select {
  margin: 0.5em 0;
}
.wrapper fieldset {
  border: 1px solid #cccccc;
}
.wrapper input.text, .wrapper input.title, .wrapper input[type=email], .wrapper input[type=text], .wrapper input[type=password],
.wrapper textarea, .wrapper select {
  border: 1px solid #bbbbbb;
}
.wrapper input.text:focus, .wrapper input.title:focus, .wrapper input[type=email]:focus, .wrapper input[type=text]:focus, .wrapper input[type=password]:focus,
.wrapper textarea:focus, .wrapper select:focus {
  border: 1px solid #666666;
}
.wrapper input.text, .wrapper input.title, .wrapper input[type=email], .wrapper input[type=text], .wrapper input[type=password] {
  width: 300px;
}
.wrapper textarea {
  width: 390px;
  height: 250px;
}
.wrapper #user_info {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  text-align: right;
}
* html .wrapper #user_info {
  overflow-x: hidden;
}
.wrapper #user_info .login_link {
  font-size: 100%;
  margin-top: 4px;
  color: #333;
}
.wrapper #header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin-bottom: 20px;
  text-align: center;
}
* html .wrapper #header {
  overflow-x: hidden;
}
.wrapper #header #site_name {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(white));
  color: #699108;
  margin-bottom: 3px;
}
.wrapper #header #site_name #android {
  font-family: 'Droid Sans', arial, sans-serif;
  font-weight: bold;
}
.wrapper #header #site_name #camp {
  font-family: 'Droid Serif', georgia, sans-serif;
  font-weight: normal;
}
.wrapper #header #event_date {
  font-size: 130%;
  color: #699108;
}
.wrapper #content h2.page_title {
  color: #777;
}
.wrapper #footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin-bottom: 1em;
  margin-top: 40px;
  text-align: center;
  color: #4e7000;
  font-family: 'Droid Sans', arial, sans-serif;
}
* html .wrapper #footer {
  overflow-x: hidden;
}
.wrapper #footer a {
  color: #4e7000;
}

#talks {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
}
* html #talks {
  overflow-x: hidden;
}
#talks #nav a {
  color: #ff6666;
  font-size: 85%;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px;
}
#talks #nav .current_page {
  border-radius: 3px;
  color: #FFF;
  background: #F66;
}
#talks #talk_list {
  margin-top: 20px;
}
#talks #talk_list .talk {
  clear: both;
}
#talks #talk_list .talk .voting_form {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 30px;
  vertical-align: top;
}
* html #talks #talk_list .talk .voting_form {
  overflow-x: hidden;
}
#talks #talk_list .talk .talk_details {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
* html #talks #talk_list .talk .talk_details {
  overflow-x: hidden;
}
#talks #talk_list .talk .talk_details .title a {
  color: #0066cc;
  font-size: 110%;
}
#talks #talk_list .talk .talk_details .talk_meta {
  font-size: 85%;
}
#talks #talk_list .talk .talk_details .talk_meta .votes, #talks #talk_list .talk .talk_details .talk_meta .votes_label {
  color: #555;
}
#talks #talk_list .talk .talk_details .talk_meta .author_meta {
  color: #919191;
}

#activity {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
* html #activity {
  overflow-x: hidden;
}
#activity .comment_list {
  font-size: 85%;
  color: #777;
  margin-top: 20px;
}
#activity .comment_list a {
  color: #999999;
}

#talks .block_title, #activity .block_title {
  font-size: 120%;
  color: #777;
}

.submit_button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #aaff00;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #dceeba), color-stop(10%, #b8db70), color-stop(50%, #90c030), color-stop(50%, #87b42d), color-stop(100%, #a1d043));
  background-image: -moz-linear-gradient(top, #dceeba 0%, #b8db70 10%, #90c030 50%, #87b42d 50%, #a1d043 100%);
  background-image: linear-gradient(top, #dceeba 0%, #b8db70 10%, #90c030 50%, #87b42d 50%, #a1d043 100%);
  border-color: #6b8f24;
  text-shadow: #558000 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
.submit_button, .submit_button:visited {
  color: white;
}
.submit_button:hover, .submit_button:focus {
  background-color: #a0f000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d6ebad), color-stop(10%, #b1d864), color-stop(50%, #87b42d), color-stop(50%, #7da72a), color-stop(100%, #9bcd37));
  background-image: -moz-linear-gradient(top, #d6ebad 0%, #b1d864 10%, #87b42d 50%, #7da72a 50%, #9bcd37 100%);
  background-image: linear-gradient(top, #d6ebad 0%, #b1d864 10%, #87b42d 50%, #7da72a 50%, #9bcd37 100%);
  border-color: #628321;
  text-shadow: #4b7000 0px 1px 1px;
}
.submit_button:hover, .submit_button:hover:visited, .submit_button:focus, .submit_button:focus:visited {
  color: white;
}
.submit_button:active {
  background-color: #96e000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #87b42d), color-stop(30%, #8dbc2f), color-stop(50%, #81ab2b), color-stop(50%, #779f28), color-stop(100%, #9dce3b));
  background-image: -moz-linear-gradient(top, #87b42d 0%, #8dbc2f 30%, #81ab2b 50%, #779f28 50%, #9dce3b 100%);
  background-image: linear-gradient(top, #87b42d 0%, #8dbc2f 30%, #81ab2b 50%, #779f28 50%, #9dce3b 100%);
  border-color: #59761e;
  text-shadow: #416100 0px -1px -1px;
  -moz-box-shadow: #6b8f24 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #6b8f24 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #6b8f24 0 0.08em 0.1em 1px inset;
  box-shadow: #6b8f24 0 0.08em 0.1em 1px inset;
}
.submit_button:active, .submit_button:active:visited {
  color: white;
}

.show_talk {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin-top: 30px;
  clear: both;
}
* html .show_talk {
  overflow-x: hidden;
}
.show_talk .voting_form {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 30px;
  vertical-align: top;
}
* html .show_talk .voting_form {
  overflow-x: hidden;
}
.show_talk .talk_details {
  display: inline;
  float: left;
  margin-right: 0;
  width: 910px;
}
* html .show_talk .talk_details {
  overflow-x: hidden;
}
.show_talk .talk_details .title {
  font-size: 140%;
}
.show_talk .talk_details .talk_meta {
  font-size: 85%;
}
.show_talk .talk_details .talk_meta .votes {
  color: #555;
}
.show_talk .talk_details .talk_meta .author_meta {
  color: #919191;
}
.show_talk .talk_details .talk_meta .control_link a {
  color: #0066cc;
}
.show_talk .description_wrapper {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 910px;
}
* html .show_talk .description_wrapper {
  overflow-x: hidden;
}
.show_talk .description_wrapper .description {
  padding: 5px;
  border: 1px solid #CCE6B3;
  background: #E6F1DA;
  margin-top: 20px;
  margin-bottom: 20px;
}
.show_talk .comments {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 830px;
}
* html .show_talk .comments {
  overflow-x: hidden;
}
.show_talk .comments .comment_count {
  font-size: 120%;
  font-family: Serif;
  font-style: italic;
}
.show_talk .comments .comment {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #DDD;
  font-size: 90%;
}
* html .show_talk .comments .comment {
  overflow-x: hidden;
}
.show_talk .comments .comment .comment_meta {
  text-transform: uppercase;
  font-size: 80%;
  color: #999;
}
.show_talk .comments .comment .comment_meta a {
  color: #999999;
  text-decoration: none;
}
.show_talk .comments .comment .comment_meta .delete_link a {
  color: #0066cc;
}
.show_talk .comments .comment .comment_text {
  color: #666;
}
.show_talk .comment_form {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 910px;
  margin-top: 20px;
}
* html .show_talk .comment_form {
  overflow-x: hidden;
}
.show_talk .comment_form #comment_description {
  height: 60px;
  width: 455px;
}
.show_talk .comment_form #comment_msg {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
* html .show_talk .comment_form #comment_msg {
  overflow-x: hidden;
}
