#talks
  .block_title
    Talk proposals
  #nav
    =link_to "Popular", popular_talks_url
    \/
    =link_to "New", newest_talks_url
    \/
    =link_to "Submit", new_talk_path

  #talk_list
    - @talks.each do |t|
      .talk
        .title
          = link_to t.title, talk_path(t)
        .author_meta
          = t.user.name

#activity
  .block_title
    Recent comments