@import "partials/base";

$droid-green: #4E7000;

#wrapper {
    @include blueprint(true);
    @include container;

    #footer {
        text-align: center;
        color: $droid-green;
        font-family: 'Droid Sans', arial, sans-serif;
        a {
            color: $droid-green;
        }
    }
}

.notify_button {
    @include fancy-button(#9c3, 14px, 2px);
}
