@import "partials/base";

$droid-green: #4E7000;

#wrapper {
    @include blueprint(true);
    @include container;
    
    font-size: 105%;
    font-family: 'Droid Sans', arial, sans-serif;

    #user_info {
        @include column(24,true);
        text-align: right;
        .login_link {
            font-size: 120%;
            margin-top: 4px;
            color: #333;
        }
    }

    #header {
        @include column(24,true);

        margin-bottom: 20px;
        text-align: center;

        #site_name {
            -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 1)));
            color: #699108;
            margin-bottom: 3px;
            #android {
                font-family: 'Droid Sans', arial, sans-serif;
                font-weight: bold;
            }
            #camp {
                font-family: 'Droid Serif', georgia, sans-serif;
                font-weight: normal;
            }
        }
        
        #event_date {
            font-size: 130%;
            color: #699108;
        }
    }
    
    #content {
        h2.page_title {
            color: #777;
        }
    }

    #footer {
        @include column(24,true);
        margin-top: 40px;
        text-align: center;
        color: $droid-green;
        font-family: 'Droid Sans', arial, sans-serif;
        a {
            color: $droid-green;
        }
    }
}



#talks {
    @include column(15);
    #nav {
        a {
            color: #F66;
            font-size: 85%;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

#activity {
    @include column(8,true);
}

#talks, #activity {
    .block_title {
        font-size: 120%;
        color: #777;
    }
}

#activity {
    .block_title {
        text-align: center;
    }
}

.submit_button {
    @include fancy-button(#9c3, 14px, 2px);
}

.talk {
    @include column(24, true);
    margin-top: 30px;
    clear:both;

    .talk_meta {
        font-size: 80%;
        color: #777;
    }

    .title {
        font-size: 140%;
    }

    .description {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .comment_count {
        font-size: 120%;
        font-family: Serif;
    }
    .comments {
        @include column(24, true);
        .comment {
            @include column(12, true);
            clear: both;
            margin-top: 10px;
            margin-bottom: 10px;
            border-top: 1px solid #DDD;
            .author_meta {
                text-transform: uppercase;
                font-size: 90%;
            }
            .comment_text {
                
            }
        }
    }
    .comment_form {
        @include column(24, true);
        textarea {height: 60px;}
        #comment_msg {
            @include column(12, true);
        }
    }
}

